body {
    margin: 0;
    font-family: Arial;
    background-color: skyblue;
    text-align: center;
}

/* NAV */
nav {
    background: #87CEEB;
    padding: 15px;
}

nav a {
    color: sky blue;
    margin: 10px;
    text-decoration: green;
}

/* HERO */
.hero {
    background: url('https://picsum.photos/1200/500') center/cover;
    height: 50vh;
    color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* CARDS */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: sky blue;
    margin: 10px;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
}

/* MEDIA */
.media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 300px;
    margin: 10px;
}

iframe {
    width: 100%;
    height: 200px;
}

/* FORM */
.form {
    background: black;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

/* HOVER */
.card:hover {
    transform: scale(1.05);
}
